<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICalculate" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:57294/CalculatorService.xamlx"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICalculate"
                contract="ServiceReference1.ICalculate" name="BasicHttpBinding_ICalculate" />
        </client>
    </system.serviceModel>
</configuration>
