<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStartOrder" />
                <binding name="BasicHttpBinding_IAddItem" />
                <binding name="BasicHttpBinding_IGetApp" />
                <binding name="BasicHttpBinding_ICheckApp" />
                <binding name="BasicHttpBinding_IGenerateRandom" />
                <binding name="BasicHttpBinding_ICheckNumber" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55145/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStartOrder" contract="ServiceReference1.IStartOrder"
                name="BasicHttpBinding_IStartOrder" />
            <endpoint address="http://localhost:55145/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAddItem" contract="ServiceReference1.IAddItem"
                name="BasicHttpBinding_IAddItem" />
            <endpoint address="http://localhost:58624/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGetApp" contract="ServiceReference2.IGetApp"
                name="BasicHttpBinding_IGetApp" />
            <endpoint address="http://localhost:58624/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICheckApp" contract="ServiceReference2.ICheckApp"
                name="BasicHttpBinding_ICheckApp" />
            <endpoint address="http://localhost:59312/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGenerateRandom" contract="ServiceReference3.IGenerateRandom"
                name="BasicHttpBinding_IGenerateRandom" />
            <endpoint address="http://localhost:59312/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICheckNumber" contract="ServiceReference3.ICheckNumber"
                name="BasicHttpBinding_ICheckNumber" />
        </client>
    </system.serviceModel>
</configuration>
