<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGetApplication" />
                <binding name="BasicHttpBinding_IGetUserProfile" />
                <binding name="BasicHttpBinding_IAskVendor1" />
                <binding name="BasicHttpBinding_IAskVendor2" />
                <binding name="BasicHttpBinding_IAskVendor3" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61566/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGetApplication" contract="ServiceReference1.IGetApplication"
                name="BasicHttpBinding_IGetApplication" />
            <endpoint address="http://localhost:61566/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGetUserProfile" contract="ServiceReference1.IGetUserProfile"
                name="BasicHttpBinding_IGetUserProfile" />
            <endpoint address="http://localhost:61566/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAskVendor1" contract="ServiceReference1.IAskVendor1"
                name="BasicHttpBinding_IAskVendor1" />
            <endpoint address="http://localhost:61566/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAskVendor2" contract="ServiceReference1.IAskVendor2"
                name="BasicHttpBinding_IAskVendor2" />
            <endpoint address="http://localhost:61566/Service1.xamlx" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IAskVendor3" contract="ServiceReference1.IAskVendor3"
                name="BasicHttpBinding_IAskVendor3" />
        </client>
    </system.serviceModel>
</configuration>
